# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.lab_2.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\37544\Desktop\Work\053505\isp\lab_2\.idea\.idea.lab_2\.idea/dataSources/
/dataSources.local.xml
